RTMPOSE_MODEL=rtmpose-t_8xb1024-700e_body8-halpe26-256x192
RTMPOSE_DEVICE=cuda:0
RTMPOSE_SCHEMA=halpe26
RTMPOSE_MIN_CONFIDENCE=0.35
RTMPOSE_MAX_PEOPLE=4
# RTMPOSE_DET_MODEL=rtmdet_m_640-8xb32_coco-person
