@import "tailwindcss";
@import "src/styles/token.css";


/* Your global styles below */

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: Inter, system-ui, sans-serif;
}